.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*{
  margin:0;
  box-sizing: border-box;
}
.site-container{
  margin:0 auto;
}
/*Generic elements*/
body{
  background-color: rgba(23, 15, 52);
  color:rgba(255,255,255,0.9);
  box-sizing: border-box;
}
p{
  margin:0; 
}
hr{
  height:1px;
  border:none;
  background-color: rgba(150, 150, 150, 0.3);
}
.bold{
  font-weight: bold;
}
h1{
  display:none;
  text-align: left;
  font-size:1.8em;
  font-weight: 600;
}
h3 {
  text-align: center;
  margin: 1.5em;
}
input {
  text-align: right;
  width: 100%;
  margin: 0.5em 0 1em;
  padding: 0.5em 0.5em;
  font-size: 2em;
  border: none;
  border-radius:0.3em;
  background-color: rgba(255,255,255,0.2);
  color: inherit;
}
input::placeholder {
  text-align: right;
  color:#FFFFFF66;
}
input:active, input:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
input:focus{
  outline:none;
}
/*Header and Menu*/
.menu{
  list-style: none;
  display:flex;
  justify-content:center;
  align-content: flex-start;
  font-weight: 500;
  padding:0;
  margin-left:0;
}
.menu li{
  padding:0.3em 1em;
  margin-right:0.8em;
  border-radius: 0.3em;
}
.menu li:hover{
  background-color: rgba(255,255,255,0.2);
}
.header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:90%;
  margin: 1em auto; 
}
.heading{
  border-top:1px solid rgba(150, 150, 150, 0.3);
  font-size:1.5rem;
}
/*Home page search bar*/
.searchContainer{
  width:90%;
  margin:0 auto 1em;
}
.searchHome{
  width:65%;
  margin:1em 0em;
  text-align: left;
  font-size:1.1rem;
  padding:0.5em 0.7em;
  
}
.searchHome::placeholder{
  text-align: left;
}
/*Table*/
.tableContainer{
  width:90%;
  margin:0 auto;
  min-width:650px;
}
.poolsTable{
  width:100%;
  border-collapse: collapse;
}
.poolsTableCards{
  border-bottom:1px solid rgba(150, 150, 150, 0.3);
  margin:0.5em auto;
}
.poolsTableCards:hover{
  background-color: rgba(255,255,255,0.2);
}
.poolsTableCards td, th{
  text-align: center;
  padding:0.6rem;
  border-bottom:1px solid rgba(150, 150, 150, 0.3);
}
.TableDescription{
  text-align: left;
  color:grey;
  margin:1em auto;
  width:90%;
  line-height: 1.5rem;
}
/*Impermanent loss card*/
.il-card{
  margin:3em auto;
  width:90%;
  max-width:420px;
  border:2px solid rgba(255, 255, 255, 0.151);
  border-radius: 1rem;
  padding:1em 1em;
  box-shadow: 1px 1px 0.8px rgba(255, 255, 255, 0.151);
}
.il-card form{
  width:100%;
  display:flex;
  flex-direction: column;
  text-align: right;
  margin:0 auto;
}
.il-card label{
  width:100%;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
  color:rgba(255,255,255,0.2);
}
.periods{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  margin:0 auto;
}
.periods p{
  width:30%;
  text-align: center;
  background-color: #FFFFFF66;
  padding:0.25em 1em;
  margin:0.5em 0;
  border-radius: 0.2em;
  size:1.1rem;
}
.periods p:last-of-type{
  margin: 0.5em 0;
}
.resultsContainer{
  width:100%;
  margin:2em 0 2em 25%;
  text-align: center;
  font-weight:bold;
  font-size:1.1rem;
}
.resultCategory{
  padding:0.15em 0.3em;
  margin-right:0.3em;
  text-align: left;
  color:rgba(255,255,255,0.6);
}
.result{
  padding:0.5em;
  text-align: right;
  color:rgba(255,255,255,0.9);
}
.periods p:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);
}
/*Active mode*/
#isActive {
  background-color: rgba(255, 255, 255, 0.151);
  font-weight: bold;
}
.isActive {
  background-color: rgba(255, 255, 255, 0.151);
  font-weight: bold;
}
a, a:visited{
  color:inherit;
  text-decoration: none;
}
a:hover{
  
  color:rgba(255, 255, 255, 0.8);
}
/*Footer*/
.footer{
  width:100%;
  text-align: center;
  margin:2em 0em 1em;
  font-size: 0.8rem;
}
/*Loading component*/
.loading{
  text-align:center;
  color:rgba(255,255,255,0.2);
}
/*screen greater than 650px*/
@media (min-width:650px){
  h1{
    display:block;
  }
  .header{
    display:flex;
    flex-direction: row;
    width:90%;
    justify-content: space-between;
    align-items: center;
  }
  .menu li {
    margin-right: 0;
    margin-left: 1em;
  }
  .searchHome{
    width:40%;
    margin:1em 0em 1em 60%;
  }
  .il-card form,
  .periods,
  .resultsContainer{
    width:90%;
  }
}